body{
	margin:0px;
	padding:0px;
}

.container01{
	border:1px solid black;
	margin:10px;
	width:30%;
	height:400px;
	float:left;
}

.content{
	padding:0px;
	margin:5px;
}

.content p{
	text-indent:60px;
	margin:-50px 0px 10px 0px;
}

.content h3{
	margin:-15px 0px 10px 0px;
	text-indent:60px;
}

.content blockquote{
	margin:10px 0px 0px 60px;
}

.content h4{
	text-align:right;
	margin:5px 0px -5px 0px;
}

