.txt-right{
	text-align:right;
	size:14px;
}

p{
	margin-bottom:5px;
}

p:nth-child(2){
	margin-top:-10px;
}

p:nth-child(5){
	margin-top:-10px;
}

.border-col{
	border:1px solid black;
	/*margin-right:5px;*/
}
.no-pad{
	padding:1px;
}
.container{
	margin:0px;
	padding:0px;
}
.row{
	margin:5px;
}
